@import url('./reset.css');

#datetime-picker {
  margin-top: 16px;
  padding: 4px 8px;
  width: 240px;
  font-size: 20px;
}

button[data-start] {
  padding: 4px 8px;
  font-size: 20px;
}

.timer {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .value {
  font-size: 44px;
  line-height: 1.1;
}

.timer .label {
  font-size: 14px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 340px;
  margin-top: 16px;
  font-size: 18px;
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input[type='number'] {
  padding: 8px;
  height: 40px;
  font-size: 18px;
}

.form fieldset {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 4px 24px 8px;
}

.form button {
  padding: 2px 8px;
  font-size: 16px;
}
